<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Settings</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>

        <ion-item *ngIf="!useglobalconfig">
            <ion-icon name="mail" item-start></ion-icon>
            <ion-label class="label label-ios">Email-to-activity</ion-label>
            <ion-toggle (ionChange)="changeEmailToActivity()" [(ngModel)]="emailtoactivity"></ion-toggle>
        </ion-item>

        <ion-item (click)="changeaccounts()">
            <ion-icon name="person" item-start></ion-icon>
            <ion-label class="label label-ios">Account in use</ion-label>
            <ion-note item-end="" class="note note-ios">
                {{ accountname }}
            </ion-note>
        </ion-item>

        <ion-item (click)="syncNow()">
            <ion-icon name="sync" item-start></ion-icon>
            <ion-label class="label label-ios">Sync Now</ion-label>
            <ion-note item-end="" class="note note-ios">
                <span *ngIf="syncdatetime != '' ">{{ syncdatetime|timeAgo }}</span>
            </ion-note>
        </ion-item>

        <ion-item (click)="openSyncIntervalOptions()" *ngIf="!useglobalconfig">
            <ion-icon name="sync" item-start></ion-icon>
            <ion-label class="label label-ios">Sync interval</ion-label>
            <ion-note item-end="" class="note note-ios">
                {{ syncinterval }}
            </ion-note>
        </ion-item>

        <ion-item (click)="moreinformation()">
            <ion-icon name="information-circle" item-start></ion-icon>
            <ion-label class="label label-ios">More Information</ion-label>
        </ion-item>

        <ion-item (click)="logout()" class="logout-item">
            <ion-icon name="log-out" item-start></ion-icon>
            <ion-label class="label label-ios">Logout</ion-label>
        </ion-item>

    </ion-list>
</ion-content>